parserOptions:
  sourceType: "module"
rules:
  indent:
    - "warn"
    - 2
  quotes:
    - "error"
    - "single"
  linebreak-style:
    - "error"
    - "unix"
  semi: "off"
  no-console: "off"
  # no-unused-vars: "off"
env:
  es6: true,
  browser: true
plugins:
  - "react"
  - "angular"
globals:
  angular: true
  jQuery: true
  $: true
  mapboxgl: true
  MapboxGeocoder: true
  Modernizr: true
  turf: true
  dataLayer: true
  require: true
  Waypoint: true
  outdatedBrowser: true
  TypeRocket: true
  tinymce: true
  tinyMCE: true
extends:
  - "eslint:recommended"
  - "plugin:react/recommended"
