extends: stylelint-config-standard
plugins:
  - stylelint-scss
rules:
  at-rule-empty-line-before:
    - always
    - ignore:
      - first-nested
      - blockless-after-same-name-blockless
  at-rule-no-unknown:
    - true
    - ignoreAtRules:
      - function
      - if
      - include
      - extend
      - mixin
      - each
  block-no-empty: true
  color-no-invalid-hex: true
  declaration-block-no-duplicate-properties: true
  declaration-block-single-line-max-declarations: 0
  declaration-empty-line-before: 'never'
  declaration-block-trailing-semicolon: always
  declaration-colon-space-after: always
  declaration-colon-space-before: never
  function-comma-space-after: always
  function-url-quotes: never
  max-empty-lines: 5
  media-feature-colon-space-after: always
  media-feature-colon-space-before: never
  media-feature-name-no-vendor-prefix: true
  number-leading-zero: always
  number-no-trailing-zeros: true
  property-no-vendor-prefix: true
  rule-empty-line-before: 'never'
  selector-list-comma-newline-after: always
  selector-list-comma-space-before: never
  selector-max-id: 1
  selector-pseudo-element-colon-notation: single
  string-quotes: single
  value-no-vendor-prefix: true
